  <!-- Header -->
  <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between
              p-6 sm:py-4 md:px-8 border-b bg-black  rounded-lg ml-4 mr-4">
     <!-- Actions -->
     <div class="mt-4 sm:mt-0">
        <!-- Search button -->
        <button class="bg-green-500 rounded-md py-3" >     
         
            <span class=" text-white text-lg mx-3 font-thin" >تسجيل الدخول</span>
        </button>
    </div>
    
    <!-- Title -->
    <div>
        <div class="text-1xl text-white font-semibold tracking-tight leading-none mr-10">الرئيسية</div>
        <div class="flex items-center mt-0.5 font-medium text-secondary">
            
            
        </div>
    </div>
   
</div>