  <!-- Footer -->
  <div class="flex flex-wrap sm:flex-row items-start sm:items-center sm:justify-between
              p-6 sm:py-4 md:px-8 border-b bg-gray-300  rounded-lg ml-4 mr-4">
     <!-- Actions -->
     <div class="mt-4 sm:mt-0">
        <!-- news and shows button -->
        
        <div class=" text-black text-lg mx-3 font-thin" >تسجيل الدخول
        <button class="bg-green-500 rounded-md py-3" >     
         
            <span class=" text-black text-lg mx-3 font-thin" >تسجيل الدخول</span>
        </button>
    </div>

         <!-- Follow us button -->
         <div class=" flex-col text-black text-lg mx-3 font-thin" >تسجيل الدخول
     <button class="bg-green-500 rounded-md py-3" >     
         
        <span class=" text-black text-lg mx-3 font-thin" >تسجيل الدخول</span>
    </button>
    </div>
</div>
    


    <!-- Title -->
    <div>
        <div class="text-1xl text-black font-semibold tracking-tight leading-none mr-10">الرئيسية</div>
        <div class="flex items-center mt-0.5 font-medium text-secondary">
            
            
        </div>
    </div>
   
</div>